
.location>h5{
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}
.location>p{
    margin: 0px;
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
   
   
}
.vertical-line{
    height: 55px;
    border-left: 2 px solid #f2f2f2;
}
.search-div{
    padding: 0px 12px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 12px;
    background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
    
}
.search-div>input{
     
     width: 40vw;
     height: 35px;
     border: none;
     font-size: 20px;
}
.my-categories,.category-section{
    width: 80%;
}
.my-container{
    margin: auto;
    overflow-x: scroll;
    width: 80%;
}
.my-list{
 white-space:nowrap;
}
.my-list>img{
    padding-inline: 10px;
}
::-webkit-scrollbar{
    display: none;
}
.my-card{
    width: 179px;
    margin-inline:10px !important;
}
.category-section{
    margin: auto;
    
} 
.card-time{
    font-size: 12px;
    font-weight: bold;
       
}

.main_div{
     white-space: nowrap;
}

.scrol_section{
    overflow-x: scroll;
    
    width: 100%;
}
.footer{
    padding-top: 50px;
    text-align: center;
}
@media screen and (max-width:768px){
    nav{
        flex-direction: column;
        
    }
    .vertical-line{
      display: none;
    } 
    .pan_cornerimg>img{
        display: none;
    }
    .my-list>img{
       width: 50%;

    }
    .my-categories>img{
      width: 20%;
    }




}














